*, html{
    font-family: system-ui;
    margin: 0;
}
.nav-container{
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.container{
    width: 65rem;
    margin: 0 auto;
}
.main-title{
    text-align: center;
}